:root {

    /* Colors: */
    --unnamed-color-e61e8c: #E61E8C;
    --unnamed-color-ff8c00: #FF8C00;
    --unnamed-color-c8e60a: #C8E60A;
    --unnamed-color-14cdb4: #14CDB4;
    --unnamed-color-2c69ff: #2C69FF;
    --unnamed-color-0f1ed2: #0F1ED2;
    --unnamed-color-a7afc1: #A7AFC1;
    --unnamed-color-282d3c: #282D3C;
    --unnamed-color-000000: #000000;
    --txt_-333333: #333333;
    --unnamed-color-707070: #707070;
    --unnamed-color-b2b2b2: #B2B2B2;
    --line_-999999: #999999;
    --unnamed-color-e3e3e3: #E3E3E3;
    --unnamed-color-f1f1f1: #F1F1F1;
    --unnamed-color-af0075: #AF0075;
    --unnamed-color-ff0000: #FF0000;
    --unnamed-color-ffffff: #FFFFFF;
    
    /* Font/text values */
    --unnamed-font-family-biz-udpgothic: BIZ UDPGothic;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-size-11: 11px;
    --unnamed-font-size-12: 12px;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-120: 120px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-13: 13px;
    --unnamed-line-spacing-14: 14px;
    --unnamed-line-spacing-28: 28px;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-13);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-11);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--txt_-333333);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--txt_-333333);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-14);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--txt_-333333);
    }
    .biz-udpゴシック-—-14pt_bold {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-14);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--txt_-333333);
    }
    .unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-14);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ff0000);
    }
    .unnamed-character-style-6 {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0f1ed2);
    }
    .unnamed-character-style-7 {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-14);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-8 {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-14);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--txt_-333333);
    }
    .biz-udpゴシック-—-16pt_bold {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-14);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--txt_-333333);
    }
    .unnamed-character-style-9 {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .unnamed-character-style-10 {
    font-family: var(--unnamed-font-family-biz-udpgothic);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-120);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-af0075);
    }