@charset 'utf-8';

dialog::backdrop {
  background: #000000;
  opacity: 50%;
  width: 100vw;
  height: 100vh;
}

.c-dialog {
  display: grid;
  row-gap: 2rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: fixed;
  inset: 0;
  margin: auto;
  width: 80%;
  min-width: 30rem;
  height: 80%;
  min-height: 30rem;
  background-color: #ffffff;
  border: 1px solid var(--border-color);
  z-index: 99999;
}
