@charset 'utf-8';

/* フォーム */
.c-formItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.e-fieldLabel {
  font-size: 0.8571rem;
  margin-bottom: 0.5rem;
}

/* ランドマーク・区間設定用フォーム */
.c-landmarkNamingForm {
  .c-formItem {
    height: 100%;
  }

  .c-landmarkFormList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
  }

  .c-landMarkNameField,
  .c-sectionNameField {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;

    .e-textField {
      margin-bottom: 0.621rem;
    }

    &::before {
      content: "";
      background-color: rgba(83, 83, 83, 0.3);
      display: block;
      width: 2rem;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 1rem;
      z-index: -1;
      display: block;
      border-right: 2px solid #000000;
      width: 1px;
      height: 100%;
    }

    .e-dottedLine {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 1px;
      border-bottom: 3px dotted #000000;
      display: block;
    }
  }

  .c-landMarkNameField {
    .e-textField {
      width: 16.142rem;
      margin-left: var(--margin-unit);
    }

    &::before {
      background-image: url("~/assets/css/img/dummyImg/svg_landmark.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:first-child {
      &::before {
        border-radius: 1rem 1rem 0 0;
      }

      &::after {
        top: 1rem;
      }
    }

    &:last-child {
      &::before {
        border-radius: 0 0 1rem 1rem;
      }

      &::after {
        top: -1rem;
      }

      input {
        margin-bottom: 0;
      }
    }

    .e-button {
      border: none;
      width: auto;
      min-width: auto;
      height: 2rem;
      padding: 0 var(--margin-unit);

      &::before {
        content: "×";
        display: inline;
        width: 1rem;
        height: 1rem;
      }

      &:hover {
        background-color: #cccccc;
      }
    }

    .e-dottedLine {
      left: calc(2rem / 2);
      width: calc(var(--margin-unit) + 1rem);
    }
  }

  .c-sectionNameField {
    .e-textField {
      width: 14.642rem;
      margin-left: calc(var(--margin-unit) + var(--margin-unit2));
    }

    .e-dottedLine {
      left: calc(2rem / 2);
      width: calc(
        var(--margin-unit) + var(--margin-unit) + var(--margin-unit2)
      );
    }
  }
}
